<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finalize a sua compra</title>
    <link rel="stylesheet" href="/css/comprar.css">
</head>
<body>
    <script>
        (function() {
            if(!localStorage.getItem('token')) {
                location.href = "/login";
            }
        })();
    </script>

    <div class="topo">
        <h1><a href="/">LOGO</a></h1>
    </div>

    <div class="info">  
        <div class="endereco">
            <h2>Endereço</h2>
        </div>
        <div class="pedido">
            <h2>Seu pedido</h2>
        </div>
    </div>

    <div class="opcao-entrega">
        <h2>Opções de entrega</h2>
        Entrega rápida <input type="radio" name="opcaoEntrega" id="entregaRapida"><br><br>
        Entrega comum <input type="radio" name="opcaoEntrega" id="entregaComum">
    </div>

    <div class="cupom">
        <h2>Cupom de desconto</h2>
        <input type="text" name="cupomText" id="cupomText">
        <button value="validarCupom">Validar</button>
    </div>

    <div class="f-pagamento">
        <h2>Forma de pagamento</h2>

        Boleto <input type="radio" name="fPagamento" id="boleto">

        Cartão de crédito <input type="radio" name="fPagamento" id="compraComCartao"><br><br>

        <div class="formCartao">

                Número do cartão<br>
                <input type="text" name="nCartao" id="numeroCartao"><br><br>

                Nome impresso no cartão<br>
                <input type="text" name="nCartao" id="nomeNoCartao"><br><br>

                Validade
                <select name="validadeCartaoMes" id="validadeCartaoMes">
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                </select>
                <select name="validadeCartaoAno" id="validadeCartaoAno">
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                </select>
                <br><br>

                CVV<br><br>
                <input type="text" name="cvvCartao" id="cvvCartao"><br>
                Parcelas<br><br>

                <input type="text" name="nCartao" id="parcelaCompra">

        </div>
    </div>

    <div class="btn-pagamento" onclick="comprar()">
        <button value="btnPagamento">PAGAR</button>
    </div>

    <script src="/js/compra.js"></script>
</body>
</html>