<!------------ÍNICIO DO HEADER----------->
<header>
    <div class="container">
        <div class="shop-logo">
            <img width="100px" src="/img/logo shop.png" />
        </div>
        <div class="menu-header">
            <nav>
                <ul>
                    <li>
                        <a href="#" class="btm-active-home">Ínicio</a>
                    </li>
                    <li href="#">
                        <a>Sobre</a>
                        </a>
                    <li href="#">
                        <a>Contato</a>
                    </li>
                    <li href="#">
                        <a>Meu carrinho</a>
                    </li>
                </ul>
            </nav>
        </div>
        <button class="btn-hamburger">
            <div class="barra"></div>
            <div class="barra"></div>
            <div class="barra"></div>
        </button>
    </div>

</header>
<!------------FIM DO HEADER----------->
<!------------ÍNICIO DA SECTION----------->
<section>
    <div id="container_section">
        <div id="sec_text">
            <h1 class="text-center">O Shop Eletrônicos em suas mãos!</h1>
            <div id="sec_text_sbtext">
                <p class="subtext">Nosso e-commerce já disponível em aplicativo!
                </p>
            </div>
            <button id="btn-sec">
                IR PARA O APLICATIVO
            </button>
        </div>
    </div>
    </div>
</section>
<!------------FIM DA SECTION----------->
<!------------ÍNICIO DO ARTICLE----------->
<article>
    <div id="container_article">
        <div class="text-article-area">
            <div class="text-center-art">
                <h1 class="txt-art">Por quê comprar na Shop E.?</h1>
            </div>
            <div id="card_article_area">
                <div id="card_article">
                    <div class="card_image">
                        <img class="carrinho" src="/img/supermarket1.svg" alt="carrinho" />
                        <h3 class="carrinho-text">Frete grátis</h3>
                    </div>
                    <div id="card_text">
                        <p class="card-text">Nas compras acima de <b>R$100,00</b> você
                            tem direito a um <b>frete grátis</b>.</p>
                    </div>
                </div>
                <div id="card_article">
                    <div class="card_image">
                        <img class="caminhao" src="/img/truck1.svg" alt="carrinho" />
                        <h3 class="caminhao-text">Envio imediato</h3>
                    </div>
                    <div id="card_text">
                        <p class="card-text">Todos nossos itens é a pronta entrega com envio imediato,
                            de até <b>24H</b>.

                        </p>
                    </div>
                </div>
                <div id="card_article">
                    <div class="card_image">
                        <img class="cartao" src="/img/check1.svg" alt="carrinho" />
                        <h3 class="cartao-text">Aceitamos todos cartões</h3>
                    </div>
                    <div id="card_text">
                        <p class="card-text">Aceitamos todos os tipos de cartões de crédito,
                            agora também exclusivamente o <b>Nubank</b>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
<!------------FIM DO ARTICLE----------->
<!------------ÍNICIO DO MAIN----------->
<main>
    <div id="container_main">
        <div class="main-text">
            <h2 class="main-h2-center">EM DESTAQUE</h2>
        </div>
        <div id="container_prod">
            <div class="prod">
                <div class="prod_img">
                    <img class="iphone6s-img" src="/img/iphone6s.png" alt="iphone" />
                </div>
                <div id="produto_txt_area">
                    <div class="produto_txt">
                        <h2 class="iphone6s-txt">Iphone 6S 128GB</h2>
                    </div>
                    <div class="star-img">
                        <img class="produto-starimg" src="/img/star2.svg" alt="star" />
                        <img class="produto-starimg" src="/img/star2.svg" alt="star" />
                        <img class="produto-starimg" src="/img/star2.svg" alt="star" />
                        <img class="produto-starimg" src="/img/star.svg" alt="star" />
                        <img class="produto-starimg" src="/img/star.svg" alt="star" />
                    </div>
                    <div class="produto-sbtxt">
                        <p class="prod-sbtxt">15 ofertas á partir de<br>
                            <span class="sbtxt-price">R$950,00</span><br>
                            10x de R$95,00 sem juros</p>
                    </div>
                </div>
            </div>
            <div class="prod">
                <div class="prod_img">
                    <img class="iphone6s-img" src="/img/iphone6s.png" alt="iphone" />
                </div>
                <div id="produto_txt_area">
                    <div class="produto_txt">
                        <h2 class="iphone6s-txt">Iphone 6S 128GB</h2>
                    </div>
                    <div class="star-img">
                        <img class="produto-starimg" src="/img/star2.svg" alt="star" />
                        <img class="produto-starimg" src="/img/star2.svg" alt="star" />
                        <img class="produto-starimg" src="/img/star2.svg" alt="star" />
                        <img class="produto-starimg" src="/img/star.svg" alt="star" />
                        <img class="produto-starimg" src="/img/star.svg" alt="star" />
                    </div>
                    <div class="produto-sbtxt">
                        <p class="prod-sbtxt">15 ofertas á partir de<br>
                            <span class="sbtxt-price">R$950,00</span><br>
                            10x de R$95,00 sem juros</p>
                    </div>
                </div>
            </div>
            <div class="prod">
                <div class="prod_img">
                    <img class="iphone6s-img" src="/img/iphone6s.png" alt="iphone" />
                </div>
                <div id="produto_txt_area">
                    <div class="produto_txt">
                        <h2 class="iphone6s-txt">Iphone 6S 128GB</h2>
                    </div>
                    <div class="star-img">
                        <img class="produto-starimg" src="/img/star2.svg" alt="star" />
                        <img class="produto-starimg" src="/img/star2.svg" alt="star" />
                        <img class="produto-starimg" src="/img/star2.svg" alt="star" />
                        <img class="produto-starimg" src="/img/star.svg" alt="star" />
                        <img class="produto-starimg" src="/img/star.svg" alt="star" />
                    </div>
                    <div class="produto-sbtxt">
                        <p class="prod-sbtxt">15 ofertas á partir de<br>
                            <span class="sbtxt-price">R$950,00</span><br>
                            10x de R$95,00 sem juros</p>
                    </div>
                </div>
            </div>
            <div class="prod">
                <div class="prod_img">
                    <img class="iphone6s-img" src="/img/iphone6s.png" alt="iphone" />
                </div>
                <div id="produto_txt_area">
                    <div class="produto_txt">
                        <h2 class="iphone6s-txt">Iphone 6S 128GB</h2>
                    </div>
                    <div class="star-img">
                        <img class="produto-starimg" src="/img/star2.svg" alt="star" />
                        <img class="produto-starimg" src="/img/star2.svg" alt="star" />
                        <img class="produto-starimg" src="/img/star2.svg" alt="star" />
                        <img class="produto-starimg" src="/img/star.svg" alt="star" />
                        <img class="produto-starimg" src="/img/star.svg" alt="star" />
                    </div>
                    <div class="produto-sbtxt">
                        <p class="prod-sbtxt">15 ofertas á partir de<br>
                            <span class="sbtxt-price">R$950,00</span><br>
                            10x de R$95,00 sem juros</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!------------FIM DO MAIN------------->

<script>
    window.onload = () => {
        const btnHamburger = document.querySelector('.btn-hamburger');
        const menuNav = document.querySelector('.menu-header')
        let menuVisivel = false;

        btnHamburger.addEventListener('click', () => {
            menuNav.style.display = (menuVisivel) ? 'none' : 'block';
            document.body.style.overflow = (menuVisivel)?'auto':'auto'
            menuVisivel = (menuVisivel) ? false : true;
        })
        function mostraMenu() {

        }
    }
</script>