<!DOCTYPE html>
<html>

<head>
    <style>
    </style>
    <link href="/css/slick.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/carrossel.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css"
        integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv" crossorigin="anonymous">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Loja virtual SHOP</title>
</head>

<body>
    {{#if token}}
        <script>
            localStorage.setItem('token', '{{token}}');
        </script>
    {{/if}}
    
    <!------------ÍNICIO DO HEADER----------->
    <header>
        <div class="container">
            <div class="shop-logo">
                <img id="logo-shop-header" src="/img/logo shop.png" />
            </div>
            <div class="menu-header">
                <nav>
                    <ul>
                        <a href="index.handlebars">
                            <li id="btm-active-home">Ínicio</li>
                        </a>
                        <a onclick="autenticacaoSobre()" class="click">
                            <li>Sobre</li>
                        </a>
                        <a onclick="Drop()">
                            <li class="bf-category">Categorias
                            <img class="arrowdown" src="/img/arrow-down.svg">
                            </li>
                        </a>
                            <div id="menu-dropdown">
                                <div class="dpdown-item">
                                    <img class="img-dropdown" src="/img/cpu.svg"/>
                                    <span class="dpdown-txt">Hardwares</span>
                                </div>
                                <div class="dpdown-item">
                                    <img class="img-dropdown" src="/img/camera1.svg"/>
                                    <span class="dpdown-txt">Câmeras</span>
                                </div>
                                <div class="dpdown-item">
                                    <img class="img-dropdown" src="/img/headphones1.svg"/>
                                    <span class="dpdown-txt">Headsets</span>
                                </div>
                                <div class="dpdown-item">
                                    <img class="img-dropdown" src="/img/smartphone1.svg"/>
                                    <span class="dpdown-txt">Celulares</span>
                                </div>
                            </div>
                    </ul>
                </nav>
                <!------------FIM DA LISTA----------->
            </div>
        </div>
        <div id="bottons-sign-enter">
            <a href="#">
                <h3 id="enter"><a href="./login"> Entrar </a></h3> 
            </a>
        </div>
        </div>
    </header>
    <!------------FIM DO HEADER----------->
    <!------------ÍNICIO DA SECTION----------->
    <section id="section1">
        <div id="container_section">
            <div id="sec_text">
                <h1 class="text-center">A loja Shop em suas mãos!</h1>
                <div id="sec_text_sbtext">
                    <p class="subtext">Já disponível no e-commerce, nossa loja decidiu disponibilizar um
                        site e um aplicativo para mantermos você com mais fácil acesso a Shop.
                    </p>
                </div>
                <div id="btn-sec">
                    Me leve ao aplicativo
                </div>
            </div>
        </div>
        </div>
    </section>
    <!------------FIM DA SECTION----------->
    
    
    <!-- carrossel -->
    <div class="carrossel">
        <h2>EM DESTAQUE</h2>
        <hr>
        <div class="responsive produto-area"></div>
    </div>

    <!-- modal -->
    <div class="produtoWindowArea">
        <div class="produtoWindowBody">
            <div class="produtoWindowBodyImg">
                <img src="" alt="">
            </div>
            <div class="produtoWindowBodyInfo">
                <h2></h2>
                <div class="produto-desc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Quia ipsum delectus, laborum ut dolores molestias aut ducimus non! 
                    Temporibus incidunt vitae atque! Dolores, id blanditiis? Delectus 
                    aliquam quas porro voluptate!
                </div>
                <span></span>
                <div class="botoes">
                    <a class="btnComprar" href="./comprar">Comprar</a>
                    <button class="btnVoltar">Voltar</button>
                </div>
            </div>
        </div>
    </div>

    <!------------ÍNICIO DO ARTICLE----------->
    <article>
        <div id="container_article">
            <div class="text-article-area">
                <div class="text-center-art">
                    <h1 class="txt-art">Por quê comprar na Shop?</h1>
                    <hr class="hr_center">
                </div>
                <div id="card_article_area">
                    <div id="card_article">
                        <div class="card_image">
                            <img class="carrinho" src="/img/supermarket1.svg" alt="carrinho" />
                            <h3 class="carrinho-text">Frete grátis</h3>
                        </div>
                        <div id="card_text">
                            <p class="card-text">Nas compras acima de <b>R$100,00</b> você
                                tem direito a um <b>frete grátis</b>.</p>
                        </div>
                    </div>
                    <div id="card_article">
                        <div class="card_image">
                            <img class="caminhao" src="/img/truck1.svg" alt="carrinho" />
                            <h3 class="caminhao-text">Envio imediato</h3>
                        </div>
                        <div id="card_text">
                            <p class="card-text">Todos nossos itens é a pronta entrega com envio imediato,
                                de até <b>24H</b>.

                            </p>
                        </div>
                    </div>
                    <div id="card_article">
                        <div class="card_image">
                            <img class="cartao" src="/img/check1.svg" alt="carrinho" />
                            <h3 class="cartao-text">Aceitamos todos cartões</h3>
                        </div>
                        <div id="card_text">
                            <p class="card-text">Aceitamos todos os tipos de cartões de crédito,
                                agora também exclusivamente o <b>Nubank</b>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <!------------FIM DO ARTICLE----------->
    <script src="/js/jquery-3.5.0.min.js"></script>
    <script src="/js/slick.min.js"></script>
    <script src="/js/carrossel.js"></script>
    <script src="/js/script-header.js"></script>

    <!-- models -->
    <div class="models">
        <!-- produto item model -->
        <div class="produto-item">
            <a href=""><img src="" class="produto"></a>
            <hr>
            <h2></h2>
            <div class="avaliacao">
                <img src="/img/star2.svg" alt="star" />
                <img src="/img/star2.svg" alt="star" />
                <img src="/img/star2.svg" alt="star" />
                <img src="/img/star.svg" alt="star" />
                <img src="/img/star.svg" alt="star" />
            </div>
            <span class="ofertas"></span>
            <span class="preco"></span>
            <span class="parcelas"></span>
        </div>
    </div>

    <!-- temporário, apenas enquanto os produtos não vieram do banco de dados -->
    <script>

        let produtos = [
            {id: 1, titulo: 'iPhone 6S 128GB', preco: 950, foto: '/img/products/iphone6s.png', avaliacao: 5, parcelas: 10, juros: 0, ofertas: 15},
            {id: 2, titulo: 'iPhone 6S Rose 64GB', preco: 800, foto: '/img/products/iphone6s-rose.png', avaliacao: 3, parcelas: 10, juros: 0, ofertas: 6},
            {id: 3, titulo: 'iPhone 7 256GB', preco: 1200, foto: '/img/products/iphone7.png', avaliacao: 4, parcelas: 10, juros: 0, ofertas: 5},
            {id: 4, titulo: 'iPhone XR 128GB', preco: 1350, foto: '/img/products/iphonexr.png', avaliacao: 2, parcelas: 12, juros: 0, ofertas: 8},
            {id: 5, titulo: 'Redmi Note 8 256GB', preco: 1480, foto: '/img/products/iphone6s.png', avaliacao: 1, parcelas: 12, juros: 0, ofertas: 5},
            {id: 6, titulo: 'Motorola One 128GB', preco: 1600, foto: '/img/products/iphone6s.png', avaliacao: 4, parcelas: 12, juros: 0, ofertas: 3}
        ]

        const c = (el) => document.querySelector(el) // função auxiliar que substitui o document.querySelector()
        const cs = (el) => document.querySelectorAll(el) // função auxiliar que substitui o document.querySelectorAll()
        const sets = {
            style: "currency",
            currency: "BRL"
        }

        produtos.map( (item, index) => { // mapeamento do array produtos
            
            let produtoItem = c('.models .produto-item').cloneNode(true) // clona a div do produto para cada item do array

            produtoItem.setAttribute('data-key', index) // adiciona um atributo na div do produto com o valor do índice do produto
            produtoItem.querySelector('img').src = item.foto // exibe a imagem do produto
            produtoItem.querySelector('h2').innerHTML = item.titulo // exibe o título do produto
            produtoItem.querySelector('.ofertas').innerHTML = `${item.ofertas} ofertas a partir de` // exibe a quantidade de ofertas do produto
            produtoItem.querySelector('.preco').innerHTML = item.preco.toLocaleString("pt-BR", sets) // exibe o preço do produto
            produtoItem.querySelector('.parcelas').innerHTML = `${item.parcelas}x de ${(item.preco/item.parcelas).toLocaleString("pt-BR", sets)} sem juros` // exibe a quantidade de parcelas do produto

            produtoItem.querySelector('a').addEventListener('click', (e)=>{ // mostra modal
                e.preventDefault()

                let key = e.target.closest('.produto-item').getAttribute('data-key') // pega o valor do atributo data key

                var produtoWindowArea = c('.produtoWindowArea')

                produtoWindowArea.querySelector('img').src = produtos[key].foto
                produtoWindowArea.querySelector('h2').innerHTML = produtos[key].titulo
                produtoWindowArea.querySelector('span').innerHTML = produtos[key].preco.toLocaleString("pt-BR", sets)

                produtoWindowArea.style.opacity = 0
                produtoWindowArea.style.display = 'flex'
                setTimeout(()=>{
                    produtoWindowArea.style.opacity = 1
                }, 200)
            })

            c('.produto-area').append( produtoItem ) // adiciona o produto dentro da área de produtos

        })

        // Eventos do modal
        function closeModal() { // função para ocultar o modal
            c('.produtoWindowArea').style.opacity = 0
            setTimeout( ()=>{
                c('.produtoWindowArea').style.display = 'none'
            }, 500)
        }

        c('.btnVoltar').addEventListener('click', closeModal)

    </script>
    <!-- temporário, apenas enquanto os produtos não vieram do banco de dados -->

</body>
</html>