<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Sen&display=swap');
        @import url('https://fonts.googleapis.com/css?family=Heebo&display=swap');
        @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
        @import url('https://fonts.googleapis.com/css?family=Anton|Rubik&display=swap');
        @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
        @import url('https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap');
    </style>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Sobre a Shop</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='CSS/sobre.css'>
</head>
<body>
      <!------------ÍNICIO DO HEADER----------->
    <header>
        <div class="container">
            <div class="shop-logo">
                <img id="logo-shop-header" src="/img/logo shop.png" />
            </div>
            <div class="menu-header">
                <nav>
                    <ul>
                        <a href="/">
                            <li>Ínicio</li>
                        </a>
                        <a href="./sobre">
                            <li id="btm-active-home">Sobre</li>
                        </a>
                        <a href="#" onclick="Drop()">
                            <li class="bf-category">Categorias
                            <img class="arrowdown" src="/img/arrow-down.svg">
                            </li>
                        </a>
                            <div id="menu-dropdown">
                                <div class="dpdown-item">
                                    <img class="img-dropdown" src="/img/cpu.svg"/>
                                    <span class="dpdown-txt">Hardwares</span>
                                </div>
                                <div class="dpdown-item">
                                    <img class="img-dropdown" src="/img/camera1.svg"/>
                                    <span class="dpdown-txt">Câmeras</span>
                                </div>
                                <div class="dpdown-item">
                                    <img class="img-dropdown" src="/img/headphones1.svg"/>
                                    <span class="dpdown-txt">Headsets</span>
                                </div>
                                <div class="dpdown-item">
                                    <img class="img-dropdown" src="/img/smartphone1.svg"/>
                                    <span class="dpdown-txt">Celulares</span>
                                </div>
                            </div>
                    </ul>
                </nav>
                <!------------FIM DA LISTA----------->
            </div>
        </div>
        <div id="bottons-sign-enter">
            <a href="#">
                <h3 id="enter"><a href="./login"> Entrar </a></h3> 
            </a>
        </div>
        </div>
    </header>
     <!--------MAIN--------->
     <main>
         <div class="container_main">
             <div id="text_sobre">
                 <h1 class="text_sobre_h1">O que é a Shop?</h1>
                 <p class="text_sobre_p">A Shop é um projeto e-commerce á fins de estudos. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
             </div>
         </div>
     </main>

     <!--------SECTION DEPOIMENTOS--------->
    <section id="section-group">
        <div id="group_container">
        <div id="text_group">
            <h1 class="text_gp_center">Equipe fundadora da Shop</h1>
            <hr class="hr_center">
        </div>
        <div id="people_area">
        <div class="group_people">
            <div class="people_image">
                <img class="user-image" src="/img/user-1.png">
                <div class="people_name">
                    <h2 class="name-h2">Fernando Freitas</h2>
                </div>
            </div>
            <div class="people_desc">
                <p class="desc-p">Fernando é um desenvolvedor front-end iniciante, idealizador do projeto e SEO da Nasa.</p>
            </div>
        </div>
        <div class="group_people">
            <div class="people_image">
                <img class="user-image" src="/img/circle-undef.png">
                <div class="people_name">
                    <h2 class="name-h2">Bruno Batalha</h2>
                </div>
            </div>
            <div class="people_desc">
                <p class="desc-p">Fernando é um desenvolvedor front-end iniciante, idealizador do projeto e SEO da Nasa.</p>
            </div>
        </div>
        <div class="group_people">
            <div class="people_image">
                <img class="user-image" src="/img/circle-undef.png">
                <div class="people_name">
                    <h2 class="name-h2">Matheus S....</h2>
                    
                </div>
            </div>
            <div class="people_desc">
                <p class="desc-p">Fernando é um desenvolvedor front-end iniciante, idealizador do projeto e SEO da Nasa.</p>
            </div>
        </div>
        </div>


        <!-------Area 2 da equipe------->

        <div id="people_area">
        <div class="group_people">
            <div class="people_image">
                <img class="user-image" src="/img/circle-undef.png">
                <div class="people_name">
                    <h2 class="name-h2">Alex</h2>
                </div>
            </div>
            <div class="people_desc">
                <p class="desc-p">Fernando é um desenvolvedor front-end iniciante, idealizador do projeto e SEO da Nasa.</p>
            </div>
        </div>
        <div class="group_people">
            <div class="people_image">
                <img class="user-image" src="/img/circle-undef.png">
                <div class="people_name">
                    <h2 class="name-h2">Jessé Figueiró</h2>
                </div>
            </div>
            <div class="people_desc">
                <p class="desc-p">Fernando é um desenvolvedor front-end iniciante, idealizador do projeto e SEO da Nasa.</p>
            </div>
        </div>
        <div class="group_people">
            <div class="people_image">
                <img class="user-image" src="/img/circle-undef.png">
                <div class="people_name">
                    <h2 class="name-h2">João Vitor</h2>
                </div>
            </div>
            <div class="people_desc">
                <p class="desc-p">Fernando é um desenvolvedor front-end iniciante, idealizador do projeto e SEO da Nasa. </p>
            </div>
        </div>
        </div>
       </div>
    </section>
     <!-------- Footer --------->
     <footer>
         <div class="container_footer">
             <div class="logo_footer">
                 <img class="logo_footer_png" src="/img/logo shop.png"/>
             </div>
             <div class="pages_footer">
                <h1 class="text_center_footer">Páginas</h1>
                 <ul class="list_footer">
                     <li><a class="item_list_footer" href="./sobre">Voltar para o ínicio</a></li>
                     <li><a class="item_list_footer" href="./sobre">Sobre a Shop</a></li>
                     <li><a class="item_list_footer" href="./login">Fazer login</a></li>
                 </ul>
             </div>
             <div class="cep_footer">
                 <h1 class="text_center_footer">Localização</h1>
                 <ul class="list_footer">
                     <li class="item_list_footer">Rua João da Silva número 154</li>
                     <li class="item_list_footer">94753-000</li>
                     <li class="item_list_footer">(63)99999-9999</li>
                 </ul>
             </div>
         </div>
     </footer>


    <script src="/js/script-header.js"></script>
</body>
</html>