<!------------ÍNICIO DO HEADER----------->
<header>
    <div class="container">
        <div class="shop-logo">
            <img id="logo-shop-header" src="/img/logo shop.png" />
        </div>
        <div class="menu-header">
            <nav>
                <ul>
                    <a href="#">
                        <li id="btm-active-home">Ínicio</li>
                    </a>
                    <a href="#">
                        <li>Sobre</li>
                    </a>
                    <a href="#">
                        <li>Contato</li>
                    </a>
                    <a href="#">
                        <li>Compras</li>
                    </a>
                </ul>
            </nav>
            <!------------FIM DA LISTA----------->
        </div>
    </div>
    <div id="bottons-sign-enter">
        <a href="#">
            <h3 id="enter">Entrar</h3>
        </a>
        <a href="#">
            <h3 id="sign">Cadastrar-se</h3>
        </a>
    </div>
    </div>
</header>
<!------------FIM DO HEADER----------->

<!--------------ÍNICIO DA SECTION---------------->
<section>
    <div id="area-opt">
        <div id="container">
            <nav id="list-options">
                <ul>
                    <a href="#">
                        <li class="text-list">Notebooks</li>
                    </a>
                    <a href="#">
                        <li class="text-list">Headphones</li>
                    </a>
                    <a href="#">
                        <li class="text-list">Computadores</li>
                    </a>
                    <a href="#">
                        <li class="text-list">Mouses</li>
                    </a>
                    <a href="#">
                        <li class="text-list">Teclados</li>
                    </a>
                    <a href="#">
                        <li class="text-list">JBL</li>
                    </a>
                    <a href="#">
                        <li class="text-list">Microfones</li>
                    </a>
                </ul>
            </nav>
            <!------------FIM DA LISTA----------->
            <div id="search_list">
                <i onclick="alert('Não foi possível pesquisar! :(')" class="fas fa-search"></i>
                <input id="search-list" type="search" name="Buscar" placeholder="Pesquisar" />
            </div>
        </div>
</section>
<!--------------FIM DA SECTION---------------->
<!--------------BANNER---------------->
<div id="banner">
</div>
<!--------------FIM DO BANNER---------------->
<!--------------INÍCIO DO ARTICLE---------------->
<article id="shop-items">
    <div id="items">
        <div class="item-mt"></div>
        <div class="item-mt"></div>
        <div class="item-mt"></div>
        <div class="item-mt"></div>
    </div>
</article>