.carrossel {
    width: 100%;
    margin: auto;
    margin: 30px 0;
    font-family: 'Sen', sans-serif;
}

.carrossel > h2 {
    width: 1100px;
    margin: auto;
    text-transform: uppercase;
    padding: 5px;
    padding-bottom: 0.83em;
    font-size: 44px;
    letter-spacing: 1.5px;
    color:#000472;
}

.carrossel > hr {
    width: 1100px;
    height: 1px;
    background-color: #005AEB;
    border: none;
}

.responsive {
    /*width: 1200px;*/
    margin: auto;
    display: flex;
    padding: 10px;
}

.produto-item {
    font-family: 'Heebo', sans-serif;
    padding: 0 12px;
    /* border-left: 1px solid #005AEB; */
}

.produto-item:nth-child(even) {
    background-color: #F8F8F8;
}

.produto-item img.produto {
    height: 200px;
    margin: auto;
    margin-bottom: 20px;
}

.produto-item hr {
    height: 1px;
    background-color: #AAAAAA;
    border: none;
}

.produto-item h2 {
    text-align: center;
    font-size: 18.5px;
}
.produto-item .avaliacao {
    text-align: center;
}
.produto-item .avaliacao img {
    width: 20px;
    display: inline-block;
    margin: 0 5px 20px;
}

.produto-item span {
    padding: 0 10px;
    display: block;
}

.produto-item .preco {
    font-size: 24px;
    font-weight: 600;
}

/* formatação do model */
.produtoWindowArea {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    display: none;
    transition: all ease 0.5s;
    justify-content: center;
    align-items: center;
    overflow: auto;
}
.produtoWindowBody {
    width: 800px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px #888;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    display: flex;
    flex-direction: row;
}
.produtoWindowBodyImg {
    width: 400px;
}
.produtoWindowBodyImg img {
    width: 100%;
}
.produtoWindowBodyInfo {
    width: 400px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}
.produtoWindowBodyInfo .produto-desc {
    color: #121212;
    margin-bottom: 20px;
}
.produtoWindowBodyInfo span {
    font-size: 30px;
    font-weight: bold;
    color: #323232;
    margin-bottom: 20px;
}
.produtoWindowBodyInfo .botoes {
    display: flex;
    justify-content: space-between;
}
.btnComprar {
    padding: 15px 0;
    background-color: #5051FF;
    text-align: center;
    color: #FFF;
    border: none;
    margin: 6px 0;
    text-decoration: none;
    font-size: 20px;
    width: 50%;
    font-weight: bold;
    border-radius: 15px;
}
.btnComprar:hover {
    background-color: #005AEB;
}
.btnVoltar {
    color: #414141;
    background-color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 600;
    width: 40%;
}
.btnVoltar:hover {
    cursor: pointer;
    color: #005AEB;
}
/* formatação do model */

/* botões ------------------------------------------ */

.slick-prev {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.7);
    background-color: rgba(0,0,0,0);
    border: none;
}

.slick-next {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.7);
    background-color: rgba(0,0,0,0);
    border: none;
}

/* botões ------------------------------------------ */

@media (min-width: 1280px) {
    .responsive {
        width: 1100px;
    }
}