@import url('https://fonts.googleapis.com/css?family=Anton|Rubik&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
}

button, button:active {
    outline: none;
    border: none;
}

/**********************HEADER*********************/

header {
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #999;
    font-family: 'Rubik', sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 1140px;
}

.shop-logo {
    display: flex;
    align-items: center;
}

.menu-header {
    margin-left: auto;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

nav ul, nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-header nav ul {
    display: flex;
    flex-direction: row;
}

nav a {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-weight: 500;
}

nav a:hover {
    cursor: pointer;
    color: #67b0ad;
}

#bottons-sign-enter {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 13px;
}

#bottons-sign-enter a {
    text-decoration: none;
}

#enter, #sign {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    margin-right: 3px;
}

#enter:hover {
    color: #5051FF;
}

#sign:hover {
    color: #5051FF;
}

#enter::after {
    margin-left: 5px;
    content: '|';
}

.btm-active-home {
    color: #67b0ad;
}

.btn-hamburger {
    display: none;
}

@media (max-width: 565px) {
    .container {
        display: flex;
        justify-content: space-between;
        padding: 0px 10px;
    }
    .btn-hamburger {
        background: none;
        padding: 0;
        display: block;
        width: 30px;
    }
    .btn-hamburger:hover {
        cursor: pointer;
        display: block;
        width: 30px;
    }
    .btn-hamburger .barra {
        background: black;
        height: 5px;
        width: 100%;
        margin-top: 4px;
    }
    .menu-header {
        position: fixed;
        display: none;
        background: #fff;
        width: 100vw;
        height: 100vh;
        top: 55px;
        margin-left: -10px;
        z-index: 10;
        flex-direction: column;
    }
    .menu-header nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menu-header nav ul {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

/***************************** FIM DO HEADER*************************/

/*****************************ÍNICIO DA 1 SECTION*************************/

section {
    font-family: 'Sen', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/Background-section.jpg');
    background-color: rgb(0, 0, 0, 0.4);
}

#container_section {
    width: 100%;
    display: flex;
    padding: 10px 50px;
}

#sec_text {
    align-items: center;
    max-width: 915px;
}

.text-center {
    font-size: 60px;
    color: #fff;
}

.subtext {
    font-style: italic;
    font-weight: 500;
    font-size: 27.5px;
    color: #FFFFFF;
}

#btn-sec {
    text-align: center;
    font-size: 18px;
    background: #67b0ad;
    border-radius: 3px;
    color: #fff;
    padding: 10px;
    display: inline-block;
    transition: background .2s;
}

#btn-sec:hover {
    cursor: pointer;
    background: #457573;
}

#btn-sec:active {
    background-color: #305250;
}

/*****************************FIM DA 1 SECTION*************************/

/*****************************ÍNICIO DO ARTICLE*************************/

article {
    display: flex;
    justify-content: center;
}

#container_article {
    width: 100%;
    margin: auto 50px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.text-article-area {
    display: flex;
    flex-direction: column;
}

.txt-art {
    color: #67b0ad;
    display: flex;
    justify-content: center;
    font-size: 60px;
}

#card_article_area {
    display: flex;
    width: auto;
    padding: 0px 15px;
    
}

#card_article {
    height: 250px;
    border-left: 1px solid #67b0ad;
    max-width: 400px;
}

.card_image {
    text-align: center;
}

.carrinho {
    margin-top: 15px;
    height: 75px;
    width: 75px;
}

.caminhao {
    margin-top: 15px;
    height: 75px;
    width: 75px;
}

.cartao {
    margin-top: 15px;
    height: 75px;
    width: 75px;
}

.carrinho-text, .caminhao-text, .cartao-text {
    color: #67b0ad;
    font-size: 25px;
}

.card-text {
    padding: 10px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    font-style: italic;
}

/*****************************FIM DO ARTICLE*************************/

/*****************************ÍNICIO DA MAIN*************************/

main {
    font-family: 'Sen', sans-serif;
    background-color: #FFF;
    display: flex;
    justify-content: center;
}
@media (max-width:1037px){
    main{
        margin-top: 80px;
    }
}
@media (max-width:739px){
    #card_article_area{
        display: block;
    }
    #container_prod{
        display: flex;
        flex-direction: column
    }
}
#container_main {
    background-color: #FFF;
    height: 550px;
    width: 100%;
    margin: auto 100px
}

.main-text {
    align-items: flex-start;
}

.main-h2-center {
    text-transform: uppercase;
    padding: 5px;
    font-size: 44px;
    letter-spacing: 1.5px;
    color: #67b0ad;
}

#container_prod {
    margin-top: 15px;
    font-family: 'Heebo', sans-serif;
    display: flex;
    flex: 1;
}

.prod {
    padding: 10px;
    width: 255px;
    height: 378px;
    border-left: 1px solid #67b0ad;
    margin-right: 6px;
    justify-content: center;
}

.prod_img {
    max-width: 255px;
    padding: 15px;
    border-bottom: 1px solid #999;
    text-align: center;
}

.iphone6s-img {
    width: 125px;
    height: 147px;
}
.jbl-image {
    width: 150px;
    height: 147px;
}
.controller-ps4-img {
    width: 125px;
}

#produto_txt_area {
    justify-content: center;
}

.produto_txt {
    text-align: center;
    flex-direction: column;
}

.iphone6s-txt , .jbl-txt{
    font-size: 18.5px;
}


.star-img {
    text-align: center;
}

.produto-starimg {
    text-align: center;
    margin: auto;
    padding: 0px 7px;
    height: 20px;
}

.produto-sbtxt {
    padding: 15px;
}

.prod-sbtxt {
    font-size: 15.5px;
    margin-bottom: 6px;
    margin-top: 6px;
    font-weight: 500;
}

.sbtxt-price {
    font-size: 24px;
    font-weight: 600;
}

/*****************************FIM DA MAIN*************************/